<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="{{article.image}}" width="500px" height="500px">
            </div>

            <div class="col-md-6">
                <h1 class="title">{{article.title}}, {{article.prix}} €</h1>
                <p style="margin-bottom: 20px;">{{article.description}}</p>
                {{!-- <h5>Prix: {{article.prix}}€</h5> --}}
            </div>
        </div>
    </div>
</section>