<section class="section">
<div class="container">
    <div class="row">
        <div class="col-2">
            <h1>Vous êtes un vrai<br>gourmand !</h1>
            <p>Nous avons à cœur de partager nos passions avec nos visiteurs sur des<br> thématiques très
                variées : comics, jeux vidéo, manga, culture japonaise !</p>
        </div>
        <div class="col-2">
            <img src="./image/geek-days.jpg">
        </div>
    </div>
</div>
</section>

<!-- .actualité -->
<section class="section">
    <div class="container">
        <div class="row">

            {{#each posts}}
            <div class="col-md-4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{image}}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h2>{{title}}</h2>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i> 50 avis
                            <ul>
                                <li class="list-card">Genre: {{categorie}}</li>
                                <li class="list-card">Date de sortie: {{date}}</li>
                            </ul>
                            <h5>Prix: {{prix}}€</h5>
                        </div>
                        <div class="buttons">
                            <a href="/description/{{_id}}"><button class="button is-primary">Voir plus<i
                                        class="fas fa-chevron-right" style="margin-left: 10px;"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>

<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>